In [1]:
import pandas as pd

In [28]:
#load apor CSVs, rename columns and format to dates
variable_rate_df = pd.read_csv('yieldtableadjustable.csv')
variable_rate_df.rename(columns = {'Years to First Adjustment':'date'}, inplace=True)
variable_rate_df['date'] = pd.to_datetime(variable_rate_df['date'])

fixed_rate_df = pd.read_csv('yieldtablefixed.csv')
fixed_rate_df.rename(columns = {'Term of Loan in Years':'date'},inplace=True)
fixed_rate_df['date'] = pd.to_datetime(fixed_rate_df['date'])

In [30]:
fixed_rate_df.head()

,date,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,2000-01-03,8.64,7.92,7.62,7.62,7.40,7.40,7.47,7.47,7.27,...,8.17,8.17,8.17,8.17,8.17,8.17,8.17,8.17,8.17,8.17
1,2000-01-10,8.49,7.89,7.63,7.63,7.44,7.44,7.49,7.49,7.34,...,8.26,8.26,8.26,8.26,8.26,8.26,8.26,8.26,8.26,8.26
2,2000-01-17,8.69,8.02,7.72,7.72,7.52,7.52,7.53,7.53,7.39,...,8.29,8.29,8.29,8.29,8.29,8.29,8.29,8.29,8.29,8.29
3,2000-01-24,8.83,8.08,7.76,7.76,7.53,7.53,7.53,7.53,7.41,...,8.37,8.37,8.37,8.37,8.37,8.37,8.37,8.37,8.37,8.37
4,2000-01-31,8.54,7.94,7.69,7.69,7.53,7.53,7.54,7.54,7.43,...,8.36,8.36,8.36,8.36,8.36,8.36,8.36,8.36,8.36,8.36